*{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
}
.centrarimagen{
    text-align: center;
    position: relative;
    top: 20px;
    background-color: rgb(241, 204, 19);
    width: auto;
    margin: 10px;
    

   
}
.centrarimagen img{
    border-radius: 2%;
}
.enlacescentrados{
    position: absolute;
    top: 38%;
    left: 57%;
}
.num {
    position: absolute;
    top: 3%;
    left: 109%;
    color: rgba(3, 11, 85, 0.908);
}
.num2{
    position: absolute;
    top: 25%;
    left: 109%;
    color: rgba(3, 11, 85, 0.908);

}
.num3{
    position: absolute;
    top: 50%;
    left: 109%;
    color: rgba(3, 11, 85, 0.908);
}
 .enlacescentrados img{
    width: 35px;
    height: 25px;
 }
 ul{
    list-style: none;
 }
 .contenedor{
    width: 400px;
   background-color: rgb(213, 37, 37);
   display: flex;
   margin-top: 50px;
   position:relative;
 }


 .parrafoflexible{
    writing-mode:vertical-lr;
    display: flex;
    transform: rotate(180deg);;
    font-size: 24px;
    margin-top: 35px;



 }
 .parrafo1{
    position: absolute;
    bottom: 145px;
    left: 90px;
    font-size: 18px;
 }
 .cuadro{
    position: absolute;
    top:600px;
    border:12px solid yellow;
    width: 24px;
    left: 19px ;
 }
 .espaciadoentreimagen{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 300px;
    bottom: 70px;
    left: 70px;


 }
 .espaciadoentreimagen img{
    width: 55px;
 }

 .align1{
    position: absolute;
    top: 50px;
    left: 32px;
    font-size: 15px;
 }
 .align2{
    position: absolute;
    top: 50px;
    left: 120px;
    font-size: 15px;
 }
 .align3{
    position: absolute;
    top: 50px;
    left: 202px;
    font-size: 15px;
 }
 .align4{
    position: absolute;
    top: 50px;
    left: 284px;
    font-size: 15px;
 }
  .segundodiv{
    position: absolute;
    left: 800px;
    bottom: 18px;
 
 } 
 .parrafoflexible2{
    writing-mode:vertical-lr;
    display: flex;
    transform: rotate(180deg);;
    font-size: 24px;
    margin: 85px;
    
 }
 .alineartext{
    position: absolute;
    bottom: 125px;
    left: 130px;
 }
 .cuadro2{
    position: absolute;
    top:210px;
    border:12px solid yellow;
    width: 24px;
    left: 79px ;

 }


 